body {
  color: rgb(237, 237, 217);
  font-family: Verdana;}
.bg {
  background-image: url('');
  filter: blur(0.5px);
  position: fixed;
  width: 100%;
  margin-top: -53px;
  margin-left: -5px;
  height: 100%;
  z-index: -100;
  background-color: bisque;
}

.bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Черный цвет с прозрачностью 30% */
  filter: blur(3px); /* Размытие на 3 пикселя */
}
.text {
  line-height: 22pt;
}
.girl-menu img {
  position: relative;
  margin-left: 136px;
  margin-top: -90px;
  filter: saturate(1.2);

}
.g-red {color: red}.g-green {color: rgb(13, 217, 98)}
.g-meek {color:#e55aea}.g-bratty {color: #9e6009}
.g-danger {color: rgb(255, 187, 0)}
span {
  margin-bottom: 15px;
  font-size: 12pt;}

.clothe_d:hover {
  scale: 2;
}

button {
  position: relative;
  opacity: 0.3;
  margin-top: 10px !important;
}
.mask {
  position: fixed;
  background-color: rgb(21, 8, 37);
  top: 0;
  display: block;
  z-index: 100;
  opacity: 1;
  transition: all 0.2s ease-in;
  left: 0;
  width: 100%;
  height: 100%;
}
.mask.anim_out{
  transition: all 1.2s ease-in;
  opacity: 0;
}
.mask.hide {
  display: none;
}
.mask.show {
  display: block;
  opacity: 0;
}
h2,h3, button {
  margin: 0;}
.loading {
  font-size: 25pt;}
.cont {
  margin-top: 50px;
  margin-bottom: 200px;
  font-size: 16pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;}
.blue {
  background-color: rgb(53, 105, 219);
  color: white;}
.red {
  background-color: rgb(168, 48, 190);
  color: white;}
.green {
  background-color: rgb(0, 255, 68);
  color: rgb(0, 0, 0);
}
.pink {
  background-color: pink;
  color: rgb(0, 0, 0);
}
.yellow {
  background-color: rgb(255, 251, 0);
  color: rgb(0, 0, 0);}
a {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #59518d;
  text-decoration: none;}
a:active {
  background-color: brown;}

.girl-container {
  position: fixed;
  height: 120px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: #240e3a;
  bottom: 5px;}

.g_icon {
  border-radius: 50%;
  position: relative;
  top: -3px;
  z-index: 100;
  float: left;}
.name {
  position: relative;
  left: 10px;}

.girl-container h2, h4 {
  color: white;
  font-size: 14pt;}

.rect_hungry {
  width:138px;
  z-index: 0;
  left: 114px;
  top: 44px;
  background-color: #ffd104;
  height: 25px;
  position: absolute;
}

.label {
  position: absolute;
  z-index: 1;
  left: 20px;
}

.inform {
  position: absolute;
  right: 20px;
  top: 3px;
  z-index: 11;
}

ul {
  list-style-type: none;
  padding-inline-start: 10px;
}

.girl-menu {
  padding: 20px;
  transition: all 0.6s ease-in-out;
  transform: translate(0,-340px);
  box-sizing: border-box;
  position: fixed;
  height: 60%;
  top: 0px;
  width: 70%;
  background: url('../images/Label.png');
  background-size: 240px;
  background-repeat: no-repeat;
}

.time {
  margin-top: -40px;
}

.girl-menu.show {
  transition: all 1.3s ease-in-out;
  transform: translate(0,0);
}
.g-slider {
  position: fixed;
  scale: 0.5;
  max-height: 320px;
  transform: translate(0,1300px);
  transition: all 1.5s ease-in-out;
  width: 100%;
  z-index: 9;
  top: 50px;
}
.g-slider.show {
  scale: 1;
  transform: translate(0,0);
  transition: all 0.8s ease-in-out;
}

.main-cont {
  max-height: 500px;
}

.slider_first_el{
  position: relative;
  transition: all 0.8s ease-in-out;
  transform: translate(-330px, 0);
}
.slider_first_el.show{
  transition: all 0.8s ease-in-out;
  transform: translate(0px, 0);
}

.slider_second_el, .slider_third_el{
  position: relative;
  margin-top: -420px;
  transition: all 0.8s ease-in-out;
  transform: translate(340px, 0);
}
.slider_second_el.show, .slider_third_el.show{
  transition: all 0.8s ease-in-out;
  transform: translate(0px, 0);
}
.sl_right {
  position: absolute;
  top: 0px;
  /* background-color: aqua; */
  width: 50px;
  height: 460px;
}
.sl_left {
  position: absolute;
  top: 0px;
  right: -12px;
  /* background-color: aqua; */
  width: 50px;
  height: 460px;
}

.progress-bar {
  position: relative;
  float: left;
  z-index: 1;
  top: -8px;
  margin-left: -105px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(236, 88, 174) var(--progress-percent), rgb(92, 85, 86) 0);    
}