<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quest (work ip)</title>
  <link rel="stylesheet" href="/css/story.css">
</head>
<body>
  <% if (!combinedData) { %>
    <p class="loading">Грузим.. </p>
  <% } else { %>
    <div class="bg"></div>
    <div class="mask"></div>
  <div class="cont">
    <div class="time"></div>
    <div class="text">Ты в начале дороги, куда ты пойдешь?</div>
  </div>
  <div class="g-slider">
    <div class="main-cont">
      <div class="slider_first_el show">
        <img class="f_img" src="/images/girl/catalog/pink/1.jpg" width="319px" alt="" srcset="">
      </div>
      <div class="slider_second_el">
        <img class="s_img" src="/images/girl/catalog/pink/2.jpg" width="319px" alt="" srcset="">
      </div>
    </div>
    <div class="sl_right"></div>
    <div class="sl_left"></div>
  </div>
  <div class="girl-container">
    <div class="g-img">
      <div class="rect_hungry"></div>
      <img class="label" src="/images/girl/avatar/label.png" alt="" width="300px">
      <img class="g_icon" src="" alt="" width="100px">
      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="inform"><img src="/images/in.png" alt="" srcset="" width="30px"></div>
    </div>
  </div>
  <div class="girl-menu">
    <button onclick="refreshData()">Обновить</button>
    <h3>Характеристики:</h2>
    <ul>
      <li>Силы: <span class="strength"></span></li>
      <li>Запасы: <span class="food_stat">5</span></li>
      <li>Отравление: <span>нет</span></li>
      <li>Pregn: <span>нет</span></li>
    </ul>
    <h4>Одежда: </h4>
    <img src="/images/girl/catalog/pink/icon/pink-1.png" width="60px" alt="" srcset="">
  </div>
  <% } %>
</body>
<script>
  combinedData = `<%= JSON.stringify(combinedData) %>`
  var newStr = combinedData.replace(/\n/g, '');
  var str_res = newStr.replace(/&#34;/g, '"')
  const jsonArray = JSON.parse(str_res);
  // Теперь Массив красиво отформатирован
  textArray = jsonArray[0]
  btnArray = jsonArray[1]
  currentPage = parseInt(jsonArray[2])
  window.enemies = jsonArray[3];
  const current = textArray.find(item => parseInt(item.id) === currentPage);
  window.curr_loc = current.location    
  currentText = current.Text
  var unescapedString = currentText.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
  currentIMG = current.img
  currentFunc = [] 
  //Массив с id кнопок
  currentButtons = current.button_id.split(",").map(Number)
  var currentFunctions = []
  const container = document.querySelector('.cont')
  const div_text = document.querySelector('.text')
  div_text.innerHTML = unescapedString

  // Добавляем кнопки для каждого элемента в массиве
  currentButtons.forEach((item, index) => {
    try {
      const link = document.createElement("a");
      const span = document.createElement("span");
      const reqButton = btnArray.filter(thing => thing.id == item)
      const label = reqButton.map(ever => ever.Label);
      const hraf = reqButton.map(ever => ever.butt_id)
      currFunc = reqButton.map(ever => ever.function_name)[0]
      //функции текущей кнопки
      // console.log("currFunc:", currFunc)
      if (currFunc !== '') {
        currentFunc.push(currFunc)
        // Работаем с правильным парсингом функций
        let currentValue = currentFunc[0]
        if (currentValue) {
          while (currentValue.includes('&#39;')) {
            currentValue = currentValue.replace('&#39;', "'")
          }

          let trimmedValue = currentValue.substring(0, currentValue.indexOf(')'));

          if (trimmedValue.includes(' ')) {
            while (trimmedValue.includes(' ')) {
              trimmedValue = trimmedValue.replace(' ', '_')
            }
          }
          span.classList.add('descr', trimmedValue)
          link.setAttribute('onclick', currentValue)
        }

        currentFunc = currentFunc.filter(func => func !== currFunc);
      }
      if (label.length == 0) {
        console.log('Не нашел кнопки с id ' + item);
        return}
      link.textContent = label;
      link.setAttribute('href', '/story/' + (parseInt(hraf)+1))
      if(reqButton.map(ever => ever.color)[0] !== '') {
        link.classList.add(reqButton.map(ever => ever.color))
      }
      container.appendChild(link);
      container.appendChild(span);
    }
    catch (err){console.log("Ошибка:", err);}
  })

  var img = new Image();
  bg = document.querySelector('.bg')
  img.src = "../images/bg/" + currentIMG;
  img.onload = function() {
    bg.style.backgroundImage = "url('../images/bg/" + currentIMG + "')";
  }
  img.onerror = function() {
    bg.style.backgroundColor = "#000";
  };
  console.log("Code is working");
</script>
<script src="/js/check.js"></script>
<script src="/js/functions.js"></script>
</html>