<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spreme game</title>
</head>
<body>
    <style>
        body {
        background-image:url(/images/bg/Liza-1.jpg);
        /* backdrop-filter: blur(5px); */
        font-family: Verdana;
    color: #ccc;}
        .container {
            position: relative;
            height: 632px;
            border: 1px solid #ccc;
            overflow: hidden;
        }
        .block {
            position: absolute;
            width: 60px;
            margin-top: -50px;
            height: 40px;
            background-image:url('/images/bg/spr.png');
            background-size: 60px 40px;
        }
        .hide {
            display: none;
        }.sprem{color: white;}.lust{color: rgb(237, 153, 220);}.meek{color: rgb(197, 77, 227);}
        .bg {
        background-image: url('');
        position: fixed;
        width: 100%;
        margin-top: -53px;
        margin-left: -5px;
        height: 100%;
        z-index: -100;
        background-color: bisque;
        }
        .animate-class {
            animation-name: fall;
            animation-duration: var(--speed);
        }
        @keyframes fall {
            0% {
                transform: translate();
            }
            100% {
                transform: translate(0, 700px);
            }
        }
        .waters img{position: absolute;bottom: 98px;left: 159px;width: 173px;filter: blur(2px);mix-blend-mode: multiply;opacity: var(--soaks);}
    </style>
    <div class="waters"><img class="soaks" src="/images/bg/water.png" alt=""></div>
    <div class="container">

    </div>
    <div class="text">0</div>
    <div class="oao">0</div>
    <div class="pussy-info">Увлажненная</div>

    <script>
        combinedData = `<%= JSON.stringify(combinedData) %>`
        var newStr = combinedData.replace(/\n/g, '');
        var str_res = newStr.replace(/&#34;/g, '"')
        const jsonArray = JSON.parse(str_res);
        const cumLoad = parseInt(jsonArray[0])
        const difficult = parseInt(jsonArray[1])
        console.log(difficult);
        conlo = document.querySelector('.text')
        oao = document.querySelector('.oao')
        puss = document.querySelector('.pussy-info')
        soaks = document.querySelector('.soaks')
        m=0
        index= 0
        passed=0
        catched = 0
        function createElement(param) {
            if (passed>=10) {
                soaks.style.setProperty('--soaks',(passed/100))
            }
            else{soaks.style.setProperty('--soaks',0)}
            if (m >= cumLoad/3) {
                clearInterval(intervalId)
                randomnum = Math.random()
                value = (passed/100)*1.2
                if (value>=randomnum) {
                    alert('Залетела!')
                    setTimeout(()=>{
                        window.location.replace('/story/5055')
                    }, 2000)
                }
                else{alert('Ты везунчик, несмотря на то что у тебя '+puss.textContent+' киска');window.location.replace('/story/5056')}
            }
            parsed = parseInt(conlo.textContent)
            parsed_oao = parseInt(oao.textContent)
            if (parsed_oao >= 20 && parsed_oao < 50) {
                puss.innerHTML = '<strong class="meek">мокрая</strong>'
            }
            else if (parsed_oao >= 50 && parsed_oao < 80) {
                puss.innerHTML = '<strong class="lust">испачканная в сперме</strong>'
            }
            else if (parsed_oao >= 80) {
                puss.innerHTML = '<strong class="sprem">вся залита спермой</strong>'
            }
            container = document.querySelector('.container')
            block = document.createElement('div')
            child = document.querySelectorAll('.block')
            
            child.forEach(el => {
                el.style.setProperty('--speed', difficult+'s');
                el.addEventListener('click', ()=>{
                    el.removeEventListener('click', this)
                    el.classList.add('hide')
                    conlo.textContent = parsed+=1
                }, {once:true})
            });
            block.classList.add('block')
            randomX = Math.floor(Math.random()*(container.offsetWidth - 50))
            if (randomX  <=100) {
                randomX = Math.floor(Math.random()*(container.offsetWidth - 50))
            }
            block.style.left = randomX + 'px'
            container.appendChild(block)
            if (child.length != 0) {
                child[index].classList.add('animate-class')
                index++
            }
            setTimeout(()=>{
                if (!child[0].classList.contains('hide')) {
                    oao.textContent = parsed_oao+=1
                    passed++;
                }
                else{catched++}
                container.removeChild(child[0])
                index--
                m++
            }, ((difficult*800)+500))
        }
        intervalId = setInterval(createElement, ((difficult*100)-30));
    </script>
</body>
</html>